<div class="max-w-7xl mx-auto px-4 md:px-6 relative espacamento-header">
  <div class="text-center max-w-4xl mx-auto mb-6">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4 text-white line-height-2">
      Organizar amigo secreto nunca foi tão fácil
    </h1>
    <p class="text-lg md:text-xl text-blue-100 mb-6 max-w-3xl mx-auto line-height-3">
      Crie o grupo, sorteie os participantes e compartilhe – sem bagunça, sem spoiler.
    </p>
    <div class="flex flex-column sm:flex-row gap-3 justify-content-center mb-4">
      <p-button 
        label="Comece agora de graça" 
        icon="pi pi-arrow-right" 
        iconPos="right"
        size="large"
        (click)="navigateCadastro()"
        severity="contrast">
      </p-button>
    </div>
    <div class="flex align-items-center justify-content-center gap-4 text-sm text-blue-100">
      <div class="flex align-items-center gap-1 slide-in-left">
        <i class="pi pi-check text-green-300"></i>
        <span>Deixe que a gente cuida do sorteio.</span>
      </div>
      <div class="flex align-items-center gap-1 slide-in-right">
        <i class="pi pi-check text-green-300"></i>
        <span>Dê o play na magia do amigo secreto.</span>
      </div>
    </div>
  </div>