<section class="flex flex-column align-items-center justify-content-center">
    <img src="../../../../assets/img/icons/GoodGainCompleto.svg" alt="Logo" class="logo">
    <h1 class="mt-0 mb-7 text-5xl">Criar conta</h1>
    <form [formGroup]="formCadastro" class="px-5 md:px-0">
        <div class="grid flex justify-content-center">
            <div class="col-12 md:col-6">
                <app-form type="text" [exibirLabelObrigatoriedade]="true" [readonly]="loadingRequest()" id="nome" formControlName="nome" erro="Informe o seu nome" label="Nome" placeholder="Digite seu nome" ngDefaultControl/>
            </div>  
            <div class="col-12 md:col-6">
                <app-form type="text" [exibirLabelObrigatoriedade]="true" [readonly]="loadingRequest()" id="email" formControlName="email" placeholder="Informe o seu e-mail!" erro="Informe um email válido!" label="E-mail" ngDefaultControl/>
            </div>
            <div class="col-12 md:col-6">
                <app-form type="password" [exibirLabelObrigatoriedade]="true" [readonly]="loadingRequest()" id="password" formControlName="password" placeholder="Digite a sua senha" label="Crie a sua senha" ngDefaultControl/>
                @if(formCadastro.get('password').touched){
                  <app-validador-senha-forte [senha]="formCadastro.get('password').value"></app-validador-senha-forte>  
                }
            </div>
            <div class="col-12 md:col-6">
                <app-form type="password" [exibirLabelObrigatoriedade]="true" [readonly]="loadingRequest()" id="password" formControlName="confirmPassword" placeholder="Digite a sua senha" [erro]="mensagemErroConfirmarSenha()" label="Confirme sua senha" ngDefaultControl/>
            </div>
            <div class="col-12 ">
                <app-form type="select" [items]="opcoesOndeConheceu" [readonly]="loadingRequest()" id="ondeConheceu" formControlName="ondeConheceu" placeholder="Digite onde você conheceu a Seu amigo secreto?" label="Onde você conheceu a Seu amigo secreto?" ngDefaultControl/>
            </div>
        </div>
        <p-button label="Entrar" [disabled]="loadingRequest()" [loading]="loadingRequest()" (click)="cadastro()" styleClass="w-full"/>
        <p class="text-sm mt-3 text-center">Já possui uma conta? <span class="text-primary redefinir cursor-pointer" (click)="redirectLogin()">Entrar</span></p>
    </form>
</section>