<section id="features" class="w-full py-8 md:py-8">
  <div class="max-w-7xl mx-auto px-4 md:px-6">
    <div class="text-center mb-6">
      <p-tag value="Como funciona?" class="mb-3"></p-tag>
      <h2 class="text-3xl md:text-4xl font-bold mb-3 text-900">Tudo que você precisa para ter sucesso</h2>
      <p class="max-w-4xl mx-auto text-600 text-lg line-height-3">
        Nossa plataforma fornece todas as ferramentas necessárias para você alcançar seus objetivos, no mundo das apostas esportivas.
      </p>
    </div>

    <div class="grid">
      @for(feature of features; track feature){
        <div class="col-12 md:col-6 lg:col-3 p-3">
          <p-card styleClass="h-full">
            <ng-template pTemplate="header">
              <div class="p-4 pb-0">
                <div class="feature-icon mb-3">
                  <i [class]="'pi pi-' + feature.icon"></i>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="title">
              <h3 class="text-xl font-bold text-900">{{ feature.title }}</h3>
            </ng-template>
            <ng-template pTemplate="content">
              <p class="text-600 line-height-3">{{ feature.description }}</p>
            </ng-template>
          </p-card>
        </div>
      }
    </div>
  </div>
</section>