<section class="w-full py-8 md:py-8 hero-gradient text-white relative overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 md:px-6 relative text-center">
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-4 line-height-2">
      Pronto para organizar o seu amigo secreto sem dor de cabeça?
    </h2>
    <p class="max-w-4xl mx-auto text-blue-100 text-lg md:text-xl mb-6 line-height-3">
      Junte-se a dezenas de grupos que já fizeram o sorteio online, sem papelzinho, sem confusão e com segredo garantido até o grande dia.
    </p>
    <div class="flex flex-column sm:flex-row gap-3 justify-content-center mb-4">
      <p-button 
        label="Criar meu sorteio agora" 
        icon="pi pi-arrow-right" 
        iconPos="right"
        size="large"
        (click)="navigateCadastro()"
        severity="contrast">
      </p-button>
    </div>
  </div>
</section>